@use '../utilities' as *;

/* Portfolio */
.portfolio {
    $root: &;

    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 0.572rem + 6.091vw, 3.5rem);
    padding: 3.125rem 0 3.125rem 0;

    @include breakpoint('md') {
        padding: 2.75rem 0 2.75rem 0;
    }
    
    &__title {
        text-align: center;
    }

    &__list {
        position: relative;
        display: flex;
        gap: clamp(1rem, 0.167rem + 3.553vw, 1.875rem);

        @include breakpoint('md') {
            cursor: grab;
        }
    }

    &__item {
        min-width: 270px;
        border-radius: 10px;
        overflow: hidden;
        
        @include breakpoint('md') {
            min-width: 540px;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
