@use '../utilities' as *;

/* Portfolio */
.portfolio {
    $root: &;

    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 3.125rem 0 3.125rem 0;

    @include breakpoint('md') {
        padding: 2.75rem 0 2.75rem 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include breakpoint('md') {
            gap: 3.5rem;
        }
    }

    &__title {
        text-align: center;
    }

    &__list {
        position: relative;
        display: flex;
        gap: 1rem;

        @include breakpoint('md') {
            gap: 1.875rem;
            cursor: grab;
        }
    }

    &__item {
        min-width: 270px;
        border-radius: 10px;
        overflow: hidden;
        
        @include breakpoint('md') {
            min-width: 540px;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
